[submodule "standards"]
	path = standards
	url = https://github.com/fsecilia/standards.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
